@using Corporate.ViewModel;
@model IEnumerable<PaymentVM>

@{
    ViewBag.Title = "Payment Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="headerz1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="BGHeader"><span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>Payment Details</h2>
            </div>
        </div>
    </div>

</header>

@*start of grid*@
<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h3 class="panel-title"><b><u>Payment Detail</u></b></h3>
       
    </div>
    <div class="panel-body ">

        <table class="table table-responsive  table-hover">
            <thead>
               <tr><th>Recipt No</th><th>@Request.QueryString["RecieptID"]</th><th></th><th></th><th>Order date</th><th>@Request.QueryString["Date"]</th></tr>
                <tr>
                     <th>Date</th>
                    <th>Payment Mode</th>
                    <th>Amount</th>
                    <th>Details</th>
                    <th>Recieving Firm</th>
                    <th>Given by</th>  
                </tr>
                
            </thead>
            <tbody>
               @foreach (PaymentVM pur in @Model)
                {

                    <tr>
                        
                        <td>@pur.PaymentDate</td>
                        <td>@pur.PaymentType</td>
                        <td>@pur.PaymentAmount</td>
                        <td>@pur.Reference</td>
                        <td>@pur.Firm</td>
                       <td>@pur.CreatedBy</td>
                    </tr>
                   
                }  
            </tbody>
        </table>
    </div>
</div>
@*end of grid*@



<p>
   
    
    @Html.ActionLink(
    "Go to Payments", //linkText
    "Payment", //actionName
    "Accounting", //controllerName
     null, //routeValues
     null //htmlAttributes
)
<b>|</b>

   
    
    @Html.ActionLink(
    "Go to Ledger", //linkText
    "Index", //actionName
    "Accounting", //controllerName
     null, //routeValues
     null //htmlAttributes
)
</p>
