@{
    ViewBag.Title = "ConfigSetUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2.BGHeader {
        color: orange;
        font-variant: small-caps;
    }
    .dash-box {
        text-align: center;
    }
</style>

<header id="headerz1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="BGHeader"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Configuration</h2>
            </div>
        </div>
    </div>

</header>
<section id="mainz">

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3 class="panel-title"><b><u>Config Setup</u></b></h3>
            </div>
            <div class="panel-body ">
                <div class="col-md-3">
                    <div class="well dash-box">
                        <h2><span class="glyphicon glyphicon-ice-lolly" aria-hidden="true" aria-label="Master"></span></h2>
                        <h4> @Html.ActionLink("ItemMaster", "Masters", "Product", null, new {style="text-decoration:none"})</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well dash-box">
                        <h2><span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true" aria-label="Item"></span></h2>
                        <h4> @Html.ActionLink("Item", "Items", "Product", null, new {style="text-decoration:none"})</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well dash-box">
                        <h2><span class="glyphicon glyphicon-king" aria-hidden="true" aria-label="Customer"></span></h2>
                        <h4> @Html.ActionLink("Customer", "Customer", "Actor", null, new {style="text-decoration:none"})</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well dash-box">
                        <h2><span class="glyphicon glyphicon-pawn" aria-hidden="true" aria-label="Purchaser"></span></h2>
                        <h4> @Html.ActionLink("Purchaser", "Purchaser", "Actor", null, new {style="text-decoration:none"})</h4>
                    </div>
                </div>

                  <div class="col-md-3">
                    <div class="well dash-box">
                        <h2><span class="glyphicon glyphicon-user" aria-hidden="true" aria-label="New User"></span></h2>
                        <h4> @Html.ActionLink("New User", "AllUsers", "Actor", null, new {style="text-decoration:none"})</h4>
                    </div>
                </div>
                  <div class="col-md-3">
                    <div class="well dash-box">
                        <h2><span class="glyphicon glyphicon-lock" aria-hidden="true" aria-label="Roles"></span></h2>
                        <h4> @Html.ActionLink("User Role", "Roles", "Actor", null, new {style="text-decoration:none"})</h4>
                    </div>
                </div>
                  <div class="col-md-3">
                    <div class="well dash-box">
                        <h2><span class="glyphicon glyphicon-usd" aria-hidden="true" aria-label="Payment"></span></h2>
                        <h4> @Html.ActionLink("Payment", "PaymentMode", "Setting", null, new {style="text-decoration:none"})</h4>
                    </div>
                </div>
                  <div class="col-md-3">
                    <div class="well dash-box">
                        <h2><span class="glyphicon glyphicon-font" aria-hidden="true" aria-label="Password"></span></h2>
                        <h4> @Html.ActionLink("Password", "ChangePassword", "Actor", null, new {style="text-decoration:none"})</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3" style="height:auto; border:1px solid green">Goolge <br /> Advertisement<br /> Launched<br />Soon
    </div>
</section>

