@{
    ViewBag.Title = "Ledger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Corporate.ViewModel;
@model IEnumerable<LedgerVM>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


<script>
    var Purchaser = [];
    function LoadPurchaser(element) {


        if (Purchaser.length == 0) {
            $.ajax({
                type: "GET",
                url: '/PO/getPurchaser',
                dataType: "json",
                success: function (data) {
                    //alert(JSON.stringify(data));
                    Purchaser = data.GenericList;

                    $.each(Purchaser, function (i, v) {
                        $('#DDPurchaser').append('<option value="' + v.Value + '">' + v.Text + '</option>');
                        //  $ele.append($('<option/>').val(v.CategoryID).text(v.CategoryName));

                    })
                    $.each(Purchaser, function (i, v) {
                        $('#firm').append('<option value="' + v.Value + '">' + v.Text + '</option>');
                        //  $ele.append($('<option/>').val(v.CategoryID).text(v.CategoryName));

                    })
                },
                error: function (Error) { console.log(Error); alert('err'); }
            })

        }
        else {
            renderCategory(element);
        }
    }
    function RedirectById(id) {
        if (id != 'All') {
            window.location.href = 'http://localhost:1795/Accounting/Index?route=' + id;
        }
        else {
            window.location.href = 'http://localhost:1795/Accounting/Index';
        }

    }
    LoadPurchaser(this);
</script>
<header id="headerz1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="BGHeader"><span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>Ledger</h2>
            </div>
        </div>
    </div>
    <div id="Response" style="display:none">
                  <p id="ResponseMsg"></p>
          </div> 
</header>
@*start of grid*@
<div class="col-md-12 row" >
    @using (Html.BeginForm("CreatePO")){
  
    <div class="col-md-6"><label for="gender" class="control-label col-md-12">Get by Firm</label></div>
          <div class="col-md-6"> <select class="form-control" id="firm" onchange = "RedirectById(this.value)" ><option value="">--Select--</option>
              <option value="All">Get All</option></select>
        </div>
    }
           </div><div class="clearfix"></div><br/>
<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h3 class="panel-title"><b><u>Ledger Book</u></b></h3>
       
    </div>
    <div class="panel-body ">

        <table class="table table-responsive  table-hover">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Transaction Date</th>
                    <th>Firm</th>
                      <th>OrderNo/RecieptNo</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Balance</th>
                
                </tr>
            </thead>
            <tbody>
                @{int counter = 0;
               foreach (LedgerVM pur in @Model)
               {
                   counter=counter+1;
                    <tr>
                        <td>@counter</td>
                        <td>@pur.Date</td>
                         <td>@pur.Firm</td>
                       <td> @if(@pur.OrderNo != null)
                        {
                         @Html.ActionLink(@pur.OrderNo,"ViewOrderDetails","PO",
     new {@OrderID = @pur.OrderID, @Mini = @pur.OrderNo, @Macro = @pur.Debit, @Date = pur.Date  },null )
                        }
                          else if (@pur.PaymentDetailId != null)
                         
                        {
                         @Html.ActionLink(@pur.PaymentDetailId.ToString(),"PaymentDetail","Accounting",
     new {@RecieptID = @pur.PaymentDetailId, @Date = pur.Date  },null)
                        }</td>
                        <td>@pur.Debit</td>
                        <td>@pur.Credit</td>
                        <td>@pur.Balance</td>
                         
                        

                    </tr>
                }
                }
            </tbody>
        </table>
    </div>
</div>
@*end of grid*@
