@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Corporate.ViewModel;
@model IEnumerable<PaymentVM>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


<script>
    $(document).ready(function () {

        OrderType('DDOrderType');
        LoadPurchaser('DDPurchaser');
       
    });
        var save =function () {
            
            var isValid = true;
            if ($('#DDOrderType').val() == 'Select') {
                $('#DDOrderType').siblings('span.error').text('Select Order Type').css('visibility', 'visible');
                isValid = false;
            }
            else {
                $('#DDOrderType').siblings('span.error').css('visibility', 'hidden');
            }
            if ($('#Purchaser').val() == 'Select') {
                $('#Purchaser').siblings('span.error').text('Select Purchaser').css('visibility', 'visible');
                isValid = false;
            }
            else {
                $('#Purchaser').siblings('span.error').css('visibility', 'hidden');
            }
          
            if (isValid) {
                var datas = {
                    PurchaserID: $('select.Purchaser').val(),
                    PaymentModeID: $('select.PayType').val(),
                    PaymentAmount: parseInt($('.Pay').val()),
                   Reference: $('#Description').val().trim()
                    
                }
                $(this).val('Please Wait');
              // alert(JSON.stringify(datas));
                $.ajax({
                    type: 'POST',
                    url: 'Save',

                    contentType: 'application/json',
                    data: JSON.stringify(datas),
                    success: function (data) {

                        if (data.Message == 'Inserted') {
                            $('#createOrder').modal('hide');
                            var st = 'Saved Successfully.';
                            $('#Response').append('<i class="glyphicon glyphicon-saved"></i><br/><p>' + st + '</p>');
                            $('#Response').notifyModal({
                                duration: 3000,
                                placement: 'center',
                                onTop: true,
                            });
                          

                            setTimeout(Redirect, 3000);
                           
                        }
                        else if (!data.Exist) {
                            var st = data.Message;
                            $('#Response').append('<i class="glyphicon glyphicon-remove"></i><br/><p>' + st + '</p>');
                            $('#Response').notifyModal({
                                duration: 4000,
                                placement: 'center',
                                onTop: true,
                            });
                            setTimeout(Redirect, 4000);
                        }
                    },
                    error: function (Error) { console.log(Error); $('#submit').text('Save'); }
                });
                list = [];
                $(this).val('Save');
            }
        };

        var getReport = function () {

            var isValid = true;
            if ($('#DDOrderType').val() == 'Select') {
                $('#DDOrderType').siblings('span.error').text('Select Order Type').css('visibility', 'visible');
                isValid = false;
            }
            else {
                $('#DDOrderType').siblings('span.error').css('visibility', 'hidden');
            }
            if ($('#Purchaser').val() == 'Select') {
                $('#Purchaser').siblings('span.error').text('Select Purchaser').css('visibility', 'visible');
                isValid = false;
            }
            else {
                $('#Purchaser').siblings('span.error').css('visibility', 'hidden');
            }

            if (isValid) {
                var datas = {
                    PurchaserID: $('select.Purchaser2').val(),
                   
                    FromDate: $('#fromDate').val().trim(),
                    ToDate: $('#toDate').val().trim()
                }
                $(this).val('Please Wait');
                alert(JSON.stringify(datas));
                $.ajax({
                    type: 'POST',
                    url: 'PaymentReport',

                    contentType: 'application/json',
                    data: JSON.stringify(datas),
                    success: function (data) {

                        
                    },
                    error: function (Error) { console.log(Error); $('#submit').text('Save'); }
                });
                list = [];
                $(this).val('Save');
            }
        };


    function Redirect() {
        window.location.href = ' http://localhost:1795//Accounting/Payment';
    }
    
    function RedirectById(id) {
       
        window.location.href = 'http://localhost:1795//Accounting/Payment?route=' + id;
    }
    var OrderTypes=[];
    var Purchaser = [];
    var Categories = [];
    var product = [];
    function OrderType(element) {


        if (OrderTypes.length == 0) {
            $.ajax({
                type: "GET",
                url: '/PO/getOrderType',
                dataType: "json",
                success: function (data) {
                    //alert(JSON.stringify(data));
                    OrderType = data.GenericList;

                    $.each(OrderType, function (i, v) {
                        $('#DDPayType').append('<option value="' + v.Value + '">' + v.Text + '</option>');
                        //  $ele.append($('<option/>').val(v.CategoryID).text(v.CategoryName));

                    })
                },
                error: function (Error) { console.log(Error); alert('err'); }
            })

        }
        else {
           // renderCategory(element);
        }
    }
    function LoadPurchaser(element) {


        if (Purchaser.length == 0) {
            $.ajax({
                type: "GET",
                url: '/PO/getPurchaser',
                dataType: "json",
                success: function (data) {
                    //alert(JSON.stringify(data));
                    Purchaser = data.GenericList;

                    $.each(Purchaser, function (i, v) {
                        $('#DDPurchaser').append('<option value="' + v.Value + '">' + v.Text + '</option>');
                        //  $ele.append($('<option/>').val(v.CategoryID).text(v.CategoryName));

                    })
                    $.each(Purchaser, function (i, v) {
                        $('#firm').append('<option value="' + v.Value + '">' + v.Text + '</option>');
                        //  $ele.append($('<option/>').val(v.CategoryID).text(v.CategoryName));

                    })

                    $.each(Purchaser, function (i, v) {
                        $('#DDPurchaser2').append('<option value="' + v.Value + '">' + v.Text + '</option>');
                        //  $ele.append($('<option/>').val(v.CategoryID).text(v.CategoryName));

                    })
                },
                error: function (Error) { console.log(Error); alert('err'); }
            })

        }
        else {
            renderCategory(element);
        }
    }
    function getBalance(value) {
      
        var purchaser = $(value).val();
        $.ajax({
            type: 'POST',
            url: '/Accounting/GetBalance',
            data: { ID: purchaser },
           // contentType: 'application/json',
            success: function (data) {
               // alert(JSON.stringify(data))
                debugger;
                if (data.Bal[0] != undefined) {

                    var bal = JSON.stringify(data.Bal[0][0].Value);
                    

                    $('#lblBalance').text('Balance : ' + bal)

                }
                else {
                    $('#lblBalance').text('Balance : ' + '0')
                }
            }
        })}
</script>
<header id="headerz1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="BGHeader"><span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>Payment</h2>
                  
            </div>
        </div>
    </div>

</header>
<div id="Response" style="display:none">
                  <p id="ResponseMsg"></p>
          </div> 
<div class="col-md-12 row well" style="left:18px" >
    @using (Html.BeginForm("CreatePO")){
  
    <div class="col-md-6"><label for="gender" class="control-label col-md-12">Get by Firm</label></div>
          <div class="col-md-6"> <select class="form-control" id="firm" onchange = "RedirectById(this.value)" ><option value="">--Select--</option><option value="999">Get All</option></select>
        </div>
    }
    <div class="col-md-6">
            <form method="GET" method="post">
                <div class="input-group ">
                    <input type="search" class="form-control col-md-4" name="query" placeholder="Search Payments">
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-default" value="Search">
                    </span>
                </div>
            </form>

        </div>
  <a  data-toggle="modal" data-target="#download" style="cursor:pointer"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></a>
           </div><div class="clearfix"></div>

@*start of grid*@

<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h3 class="panel-title"><b><u>Orders</u></b></h3>
        <a class="pull-right" data-toggle="modal" data-target="#PayPayment" style="cursor: pointer"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a>
    </div>
    <div class="panel-body ">
         
        <table class="table table-responsive  table-hover">
            <thead>
                <tr>
                     <th>Reciept No.</th>
                    <th>Payment Date</th>
                    <th>Payment Mode</th>
                      <th>Amount</th>
                    <th>Recieving Firm</th>
                   <th></th>
                </tr>
                
            </thead>
            <tbody>
                @{
                    
                double total = 0;
               foreach (PaymentVM pur in @Model)
               {
                   
                   total += @pur.PaymentAmount;
                    <tr>
                        <td>@Html.ActionLink(@pur.PaymentID.ToString(), "PaymentDetail", new { @RecieptID = @pur.PaymentID.ToString(), @Date = pur.PaymentDate })</td>
                        <td>@pur.PaymentDate</td>
                         <td>@pur.PaymentType</td>
                        <td>@pur.PaymentAmount</td>
                       
                        <td>@pur.Firm</td>
                      <td>@Html.ActionLink(".", "PaymentReceipt", new { @OrderNo = @pur.PaymentID }, new { target = "_blank", @class = "glyphicon glyphicon-print" })</td> 
                    </tr>
                }
                <tr><td></td><td></td><td>Grand</td><td>@total</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>
@*end of grid*@

<div class="modal fade" id="PayPayment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="exampleModalLabel">Create Payment Receipt</h4>
            </div>
            <div class="modal-body">


                <form enctype="multipart/form-data">



                    <div class="clearfix"></div>
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="Master-name" class="control-label">Payment Type</label>
                            <select id="DDPayType" class="PayType form-control">
                                <option>Select</option>
                            </select><span class="error"></span>
                        </div>
                        <div class="col-md-4">
                            <label for="Master-name" class="control-label">Select Vendor</label>
                            <select id="DDPurchaser" class="Purchaser form-control"  onchange="getBalance(this)">
                                <option>Select</option>
                            </select><span class="error"></span>
                        </div>
                       
                        <div class="col-md-4">
                            <label for="Master-name" class="control-label">Payment Amount</label>
                            <input type="text" id="Pay" class="Pay form-control" /><span class="error">Amount required</span>
                        </div>
                         <div id="balanceDiv"><label class="control-label" id="lblBalance" style="color:green; font-size:medium"></label></div>
                    </div>
                    <div class="clearfix"></div>
                    
                   
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="Master-name" class="control-label">Description/Reference</label>
                            <textarea id="Description" class="form-control"></textarea><span class="error"></span>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                 

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" onclick="save()"  id="submit"class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="download" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="exampleModalLabel2">Report Criteria</h4>
            </div>
            <div class="modal-body">


                <form enctype="multipart/form-data">



                    <div class="clearfix"></div>
                    <div class="form-group col-md-12">
                        
                        <div class="col-md-4">
                            <label for="Master-name" class="control-label">Select Vendor</label>
                            <select id="DDPurchaser2" class="Purchaser2 form-control">
                                <option value="-1">Select</option>
                            </select>
                        </div>
                       
                        <div class="col-md-4">
                            <label for="Master-name" class="control-label">From Date</label>
                            <input type="text" id="fromDate" class="fromDate form-control" />
                        </div>
                        <div class="col-md-4">
                            <label for="Master-name" class="control-label">To Date</label>
                            <input type="text" id="toDate" class="toDate form-control" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                   <button type="submit" onclick="getReport()"  class="btn btn-primary">Get Report</button>
                  

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @Html.ActionLink(".Get Report", "PaymentReport", new { @PurchaserID = "null",@FromDate ="null",@ToDate="null"}, new { target = "_blank", @class = "btn btn-primary" })
              
            </div>
        </div>
    </div>
</div>


